#header{
    background: #202020;
    color: #fff;
    height: 50 px;
}

#branding h1{
    color: #fff
}

div.breadcrumbs {
    background: #484848;
    color: #fff

}

.module h2, .module caption, .inline-group h2{
    background: #202020
}

a:link, a:visited{
    color: #ff7733
}

.button, input[type=submit], input[type=button], .submit-row input, a.button{
    background: #202020;
    color: #fff
}

.button.default, input[type=submit].default, .submit-row input.default{
    background: #ff7733
}